<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.0.1" targetFramework="net452" />
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net452" />
  <package id="ControlzEx" version="4.3.0" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.11.0" targetFramework="net452" />
  <package id="EPPlus" version="5.2.1" targetFramework="net452" />
  <package id="Fody" version="6.2.0" targetFramework="net452" developmentDependency="true" />
  <package id="FreeSpire.Presentation" version="4.11.0" targetFramework="net452" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net452" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net452" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net452" />
  <package id="NAudio" version="1.10.0" targetFramework="net452" />
  <package id="OpenXmlPowerTools" version="4.5.3.2" targetFramework="net452" />
  <package id="Portable.BouncyCastle" version="1.8.6" targetFramework="net452" />
  <package id="Prism.Core" version="7.2.0.1422" targetFramework="net452" />
  <package id="Prism.Wpf" version="7.2.0.1422" targetFramework="net452" />
  <package id="PropertyChanged.Fody" version="3.2.8" targetFramework="net452" />
  <package id="RibbonControlsLibrary" version="4.0.0" targetFramework="net452" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net452" />
  <package id="Svg2Xaml" version="0.3.0.5" targetFramework="net452" />
  <package id="System.Composition.AttributedModel" version="1.4.1" targetFramework="net452" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
  <package id="taglib" version="2.1.0.0" targetFramework="net452" />
  <package id="WpfAnimatedGif" version="2.0.0" targetFramework="net452" />
</packages>